{% extends 'uwapp/base.html' %}<!DOCTYPE html>
{% load static %}
{% block content %}
              <div class="heading">
                <h1>O nas</h1>
                <span>Dowiedz się więcej o naszym Centrum Szkoleniowym</span>
              </div>
              <div class="cd-half-width second-slide">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="content second-content">
                        <div class="row">
                          <div class="col-md-7 left-image">
                            <img src="{% static 'img/left-about-image.jpg' %}">
                          </div>
                          <div class="col-md-5">
                            <div class="right-about-text">
                              <h4>Kim jesteśmy?</h4>
                              <p>Nasze centrum szkoleniowe kształci niezależnie od wieku! Nasi prelegencji to ludzie,
                                którzy z pasją przekazują więdzę i czerpią radość z postępów kursantów.</p>
                              <div class="primary-button">
                                <a href="#">Odkryj więcej</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-7">
                            <div class="left-about-text">
                              <h4>Co robimy?</h4>
                              <p>Szkolimy a jak! W wielu różnych dziedzinach jeśli chcesz sprawdzić nasze obecne projekty
                                  koniecznie zajrzyj do działu PROJEKTY. Dla nas Twój wiek się nie liczy, mamy możliwość
                                  zorganizowania szkoleń dla prawie każdej grupy wiekowej.</p>
                              <div class="primary-button">
                                <a href="#">Odkryj więcej</a>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-5 right-image">
                            <img src="{% static 'img/right-about-image.jpg' %}">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
{% endblock %}