{% extends 'uwapp/base.html' %}<!DOCTYPE html>
{% load static %}
{% block content %}
              <div class="heading">
                <h1>Kontakt</h1>
                <span>Otrzymasz naszą odwiedź w ciągu 48 godzin</span>
              </div>
              <div class="cd-half-width fivth-slide">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="content fivth-content">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="left-info">
                              <p>Chcesz się z nami skontaktować?
                                Możesz skorzystać z tego formularza.
                                Nasze biuro znajduje się pod tym adresem:
                              <br><br>
                              <em>UW SERWIS<br>ul. Kaliska 35<br>Tel. 533-120-577</em>
                                <br><br>
                                <b>Nasze adresy Email:</b><br>uw.serwis@gmail.com<br>szkolenia.turek@gmail.com
                              </p>
                              <ul class="social-icons">
                                <i><a href="https://www.facebook.com/uwserwis"><i class="fa fa-facebook"></i></a></i>
                              </ul>
                            </div>
                          </div>
                          <div class="col-md-8">
                            <div class="row">
                              <form id="contact" action="" method="post">

                                <div class="col-md-12">
                                  <fieldset>
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                  </fieldset>

                                <div class="col-md-12">
                                  <fieldset>
                                    <button type="submit" id="form-submit" class="btn">Wyślij Wiadomość</button>
                                  </fieldset>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
{% endblock %}